# Sistema de Recomendação

O objetivo do projeto é aplicar funções que se adequem ao conceito do algoritmo KNN, desta feita utilizei os dados do MovieLens para fazer um sistema de recomendação de filmes à usuários.

Dados utilizados do 'recommended for education and development': ml-latest-small.zip (size: 1 MB)

https://grouplens.org/datasets/movielens/

In [ ]:
#importando bibliotecas

import pandas as pd
import numpy as np

In [ ]:
filmes = pd.read_csv("movies.csv")
filmes.columns = ["filmeId", "titulo", "generos"]
filmes = filmes.set_index("filmeId") #O set_index será o filmeId
filmes.head()

                                     titulo                                      generos
filmeId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [ ]:
notas = pd.read_csv("ratings.csv")
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [ ]:
total_de_votos = notas["filmeId"].value_counts()

In [ ]:
filmes['total_de_votos'] = total_de_votos 
filmes.head()

                                     titulo  ... total_de_votos
filmeId                                      ...
1                          Toy Story (1995)  ...          215.0
2                            Jumanji (1995)  ...          110.0
3                   Grumpier Old Men (1995)  ...           52.0
4                  Waiting to Exhale (1995)  ...            7.0
5        Father of the Bride Part II (1995)  ...           49.0

[5 rows x 3 columns]

**Indicação básica levando em consideração apenas o total de votos**

In [ ]:
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... total_de_votos
filmeId                                             ...
356                            Forrest Gump (1994)  ...          329.0
318               Shawshank Redemption, The (1994)  ...          317.0
296                            Pulp Fiction (1994)  ...          307.0
593               Silence of the Lambs, The (1991)  ...          279.0
2571                            Matrix, The (1999)  ...          278.0
260      Star Wars: Episode IV - A New Hope (1977)  ...          251.0
480                           Jurassic Park (1993)  ...          238.0
110                              Braveheart (1995)  ...          237.0
589              Terminator 2: Judgment Day (1991)  ...          224.0
527                        Schindler's List (1993)  ...          220.0

[10 rows x 3 columns]

**Indicação básica levando em consideração a nota média e o número de votos.**

In [ ]:
notas_medias = notas.groupby("filmeId").mean()["nota"]

In [ ]:
filmes["nota_media"] = notas_medias     
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... nota_media
filmeId                                             ...
356                            Forrest Gump (1994)  ...   4.164134
318               Shawshank Redemption, The (1994)  ...   4.429022
296                            Pulp Fiction (1994)  ...   4.197068
593               Silence of the Lambs, The (1991)  ...   4.161290
2571                            Matrix, The (1999)  ...   4.192446
260      Star Wars: Episode IV - A New Hope (1977)  ...   4.231076
480                           Jurassic Park (1993)  ...   3.750000
110                              Braveheart (1995)  ...   4.031646
589              Terminator 2: Judgment Day (1991)  ...   3.970982
527                        Schindler's List (1993)  ...   4.225000

[10 rows x 4 columns]

# Sugestão baseada no usuário mais próximo

In [ ]:
def notas_do_usuario(usuario):
  notas_do_usuario = notas.query("usuarioId==%d" % usuario)
  notas_do_usuario = notas_do_usuario[["filmeId", "nota"]].set_index("filmeId")
  return notas_do_usuario

In [ ]:
notas_do_usuario(1)

         nota
filmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0
...       ...
3744      4.0
3793      5.0
3809      4.0
4006      4.0
5060      5.0

[232 rows x 1 columns]

In [ ]:
def distancia_de_vetores(a,b):
  return np.linalg.norm(a - b)

In [ ]:
def distancia_de_usuarios(usuario_id1, usuario_id2, minimo = 5):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(diferencas) < minimo):
    return None 
  
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [ ]:
def distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = None):
  todos_os_usuarios = notas['usuarioId'].unique()
  if numero_de_usuarios_a_analisar:
    todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = list(filter(None, distancias))
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

In [ ]:
def mais_proximos_de(voce_id, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

In [ ]:
mais_proximos_de(1, numero_de_usuarios_a_analisar = 50)
#os usuários mais proximos do usuário 1 que estão dentro desse subconjunto de 50 usuários

              voce  distancia
outra_pessoa
49               1   1.000000
9                1   1.000000
25               1   1.414214
13               1   1.414214
30               1   1.802776
35               1   2.236068
26               1   2.236068
46               1   3.316625
8                1   3.741657
5                1   3.741657
44               1   3.741657
37               1   4.000000
48               1   4.123106
11               1   4.242641
24               1   4.415880
29               1   4.555217
31               1   4.582576
17               1   4.609772
43               1   4.795832
14               1   5.000000
32               1   5.196152
22               1   5.244044
23               1   5.408327
38               1   5.567764
15               1   5.852350
33               1   5.916080
47               1   6.244998
34               1   6.363961
20               1   6.480741
36               1   6.519202
40               1   6.855655
7                1   7.106335
16               1   7.228416
50               1   7.331439
10               1   7.858117
3                1   8.200610
18               1   8.426150
6                1   8.602325
21               1   9.096703
27               1   9.219544
41               1  10.198039
45               1  10.653638
39               1  11.090537
4                1  11.135529
42               1  12.000000
28               1  14.882876
19               1  17.606817

In [ ]:
#eu quero as notas do usurio mais similar tirando os filmes que já assisti

def sugere_para(voce, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  similar = similares.iloc[0].name
  notas_do_similar = notas_do_usuario(similar)
  notas_do_similar = notas_do_similar.drop(filmes_que_voce_ja_viu, errors='ignore')
  recomendacoes = notas_do_similar.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes) #join com o df filmes

In [ ]:
sugere_para(1, numero_de_usuarios_a_analisar=50).head() 

#o usuário mais proximo no subconjunto de 50 usuários

         nota                            titulo  ... total_de_votos  nota_media
filmeId                                          ...
1200      4.5                     Aliens (1986)  ...          126.0    3.964286
4022      4.5                  Cast Away (2000)  ...          100.0    3.700000
47099     4.5  Pursuit of Happyness, The (2006)  ...           46.0    3.793478
79132     4.5                  Inception (2010)  ...          143.0    4.066434
109487    4.5               Interstellar (2014)  ...           73.0    3.993151

[5 rows x 5 columns]

In [ ]:
sugere_para(1, numero_de_usuarios_a_analisar = 300).head()

         nota  ... nota_media
filmeId        ...
8636      5.0  ...   3.803797
58559     5.0  ...   4.238255
33794     5.0  ...   3.862069
4993      5.0  ...   4.106061
5349      5.0  ...   3.540984

[5 rows x 5 columns]

# Sugestão baseada em vários usuários mais próximos

In [ ]:
def mais_proximos_de(voce_id, n_mais_proximos=10, numero_de_usuarios_a_analisar = None): #os 10 mais proximos
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(n_mais_proximos)

In [ ]:
mais_proximos_de(1, n_mais_proximos = 2, numero_de_usuarios_a_analisar=300)
#eu quero os 2 mais proximos analisando apenas os 300 primeiros usuários

              voce  distancia
outra_pessoa
77               1        0.0
258              1        1.0

In [ ]:
mais_proximos_de(1, n_mais_proximos = 10, numero_de_usuarios_a_analisar=300)

              voce  distancia
outra_pessoa
77               1   0.000000
258              1   1.000000
49               1   1.000000
9                1   1.000000
65               1   1.322876
162              1   1.414214
90               1   1.414214
25               1   1.414214
13               1   1.414214
300              1   1.500000

In [ ]:
#pegando as notas dessas pessoas e tirando a média
#A coluna "nota" é a média de votos que as pessoas similares deram para o filme
#nota média é a nota media daquele filme para todo o meu banco de dados

def sugere_para(voce, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index #transformando usuarioId em index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [ ]:
sugere_para(1, numero_de_usuarios_a_analisar = 300).head()

         nota  ... nota_media
filmeId        ...
187593    5.0  ...   3.875000
802       5.0  ...   3.336957
534       5.0  ...   3.607143
1172      5.0  ...   4.161765
515       5.0  ...   3.604167

[5 rows x 5 columns]

# A função mais_proximo_de vira o algoritmo KNN

In [ ]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(k_mais_proximos)

In [ ]:
def sugere_para(voce, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = knn(voce, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

# Recomendando para usuário novo

In [ ]:
filmes.loc[[122904, 1246, 2529, 2329 , 2324 , 1 , 7 , 2 ,1196, 260]]  #o novo usuário deu nota para esses filmes

                                                    titulo  ... nota_media
filmeId                                                     ...
122904                                     Deadpool (2016)  ...   3.833333
1246                             Dead Poets Society (1989)  ...   3.959302
2529                             Planet of the Apes (1968)  ...   3.803571
2329                             American History X (1998)  ...   4.217054
2324            Life Is Beautiful (La Vita è bella) (1997)  ...   4.147727
1                                         Toy Story (1995)  ...   3.920930
7                                           Sabrina (1995)  ...   3.185185
2                                           Jumanji (1995)  ...   3.431818
1196     Star Wars: Episode V - The Empire Strikes Back...  ...   4.215640
260              Star Wars: Episode IV - A New Hope (1977)  ...   4.231076

[10 rows x 4 columns]

In [ ]:
def novo_usuario(dados):
  novo_usuario = notas['usuarioId'].max()+1 #é o maior ID somado mais 1
  notas_do_usuario_novo = pd.DataFrame(dados, columns=["filmeId", "nota"])
  notas_do_usuario_novo['usuarioId'] = novo_usuario
  return pd.concat([notas, notas_do_usuario_novo])

In [ ]:
notas = novo_usuario([[122904,2],[1246,5],[2529,2],[2329,5],[2324,5],[1,2],[7,0.5],[2,2],[1196,1],[260,1]])
notas.tail() #Esses são os dados (notas) do usuário novo.

   usuarioId  filmeId  nota  momento
5        611        1   2.0      NaN
6        611        7   0.5      NaN
7        611        2   2.0      NaN
8        611     1196   1.0      NaN
9        611      260   1.0      NaN

In [ ]:
#Vamos sugerir para o usuário novo
sugere_para(611).head()

         nota  ... nota_media
filmeId        ...
171495    5.0  ...   4.500000
81847     5.0  ...   3.916667
1873      5.0  ...   3.750000
8014      5.0  ...   4.250000
103141    5.0  ...   3.875000

[5 rows x 5 columns]

# Recomendação tendo um número mínimo de votos

Poderíamos ter um algoritmo que funcionasse somente para descobertas de novos filmes, e nesse recomendar filmes com poucas avaliações seria interessante. Mas não é o caso no nosso sistema, e, portanto, vamos utilizar somente as notas de filmes com mais de 50 avaliações para evitarmos essa situação.

In [ ]:
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")
filmes_com_mais_de_50_votos.sort_values("nota_media", ascending = False).head(10)

                                                    titulo  ... nota_media
filmeId                                                     ...
318                       Shawshank Redemption, The (1994)  ...   4.429022
858                                  Godfather, The (1972)  ...   4.289062
2959                                     Fight Club (1999)  ...   4.272936
1276                                 Cool Hand Luke (1967)  ...   4.271930
750      Dr. Strangelove or: How I Learned to Stop Worr...  ...   4.268041
904                                     Rear Window (1954)  ...   4.261905
1221                        Godfather: Part II, The (1974)  ...   4.259690
48516                                 Departed, The (2006)  ...   4.252336
1213                                     Goodfellas (1990)  ...   4.250000
912                                      Casablanca (1942)  ...   4.240000

[10 rows x 4 columns]

In [ ]:
notas = notas.set_index("filmeId").loc[filmes_com_mais_de_50_votos.index]
notas.head() #esses são os filmes com mais de 50 votos

         usuarioId  nota       momento
filmeId
1                1   4.0  9.649827e+08
1                5   4.0  8.474350e+08
1                7   4.5  1.106636e+09
1               15   2.5  1.510578e+09
1               17   4.5  1.305696e+09

In [ ]:
notas = notas.reset_index()
notas.head() #nosso df agora só tem os filmes com mais de 50 notas

   filmeId  usuarioId  nota       momento
0        1          1   4.0  9.649827e+08
1        1          5   4.0  8.474350e+08
2        1          7   4.5  1.106636e+09
3        1         15   2.5  1.510578e+09
4        1         17   4.5  1.305696e+09

In [ ]:
#fazendo nova sugestão para nosso novo usuário, só que agora com o total de votos maior ou igual a 50

sugere_para(611).head()

             nota                          titulo  ... total_de_votos  nota_media
filmeId                                            ...
112852   5.000000  Guardians of the Galaxy (2014)  ...           59.0    4.050847
74458    4.750000           Shutter Island (2010)  ...           67.0    4.022388
71535    4.666667               Zombieland (2009)  ...           53.0    3.877358
78499    4.500000              Toy Story 3 (2010)  ...           55.0    4.109091
2804     4.500000       Christmas Story, A (1983)  ...           55.0    3.972727

[5 rows x 5 columns]

# Recomendação tendo um número mínimo de filmes em comum

In [ ]:
def sugere_para(voce, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = knn(voce, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  aparicoes = notas_dos_similares.groupby("filmeId").count()[['nota']]
  
  filtro_minimo = k_mais_proximos / 2 #ou seja, pelo menos 5 pessoas tem que ter dado nota para o mesmo filme
  recomendacoes = recomendacoes.join(aparicoes, lsuffix="_media_dos_usuarios", rsuffix="_aparicoes_nos_usuarios")
  recomendacoes = recomendacoes.query("nota_aparicoes_nos_usuarios >= %.2f" % filtro_minimo)  
  recomendacoes = recomendacoes.sort_values("nota_media_dos_usuarios", ascending=False)
  recomendacoes = recomendacoes.drop(filmes_que_voce_ja_viu,errors='ignore')
  return recomendacoes.join(filmes)

In [ ]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id, errors='ignore')
  return distancias.head(k_mais_proximos)

In [ ]:
#fazendo nova sugestão para o usuário novo, só que agora 5 pessoas, no mínimo, assistiu e deu nota para x filme

sugere_para(611, numero_de_usuarios_a_analisar=500)

#por exemplo, para o filme 318, 8 pessoas deram nota de media 4.5

         nota_media_dos_usuarios  ...  nota_media
filmeId                           ...
318                     4.500000  ...    4.429022
919                     4.400000  ...    3.880435
79132                   4.357143  ...    4.066434
356                     4.350000  ...    4.164134
7361                    4.312500  ...    4.160305
...                          ...  ...         ...
5481                    2.300000  ...    2.846154
3785                    2.300000  ...    2.920000
2054                    2.300000  ...    2.757353
1485                    2.100000  ...    3.033784
788                     1.785714  ...    2.731707

[214 rows x 6 columns]

In [ ]:
x = sugere_para(611) #esses são os filmes em comum com as 10 pessoas mais próximas 
x.head()

         nota_media_dos_usuarios  ...  nota_media
filmeId                           ...
318                     4.500000  ...    4.429022
919                     4.400000  ...    3.880435
79132                   4.357143  ...    4.066434
356                     4.350000  ...    4.164134
7361                    4.312500  ...    4.160305

[5 rows x 6 columns]

In [ ]:
#mudei o padrão de dez pessoas mais proximas, para 20 pessoas mais proximas, passando o mínimo a ser 10 
z= sugere_para(611, k_mais_proximos=20).head(10) 
z.head()

In [ ]:
z["nota_aparicoes_nos_usuarios"].unique() #perceba que o máximo é 10

Um detalhe importante é: quanto mais usuários estamos pegando com nosso parâmetro k_mais_proximos, mais aparecem nas recomendações filmes muito populares. Isso porque, já que definimos nosso filtro mínimo como k_mais_proximos / 2, quanto maior o número de vizinhos, maior será o número de usuários que terão que ter visto o mesmo filme. Nesse caso, eu peguei os 20 mais proximos, pelo menos 10 teriam que ter visto o mesmo filme.

É importante ressaltar que esse sistema de recomendação poderia ficar ainda mais sofisticado, caso eu separasse os filmes por gênero, por exemplo. Mas o objetivo do case foi apenas mostrar como construir um simples sistema de recomendação.